<!DOCTYPE html>
<html>
  <head>
    <title>MiniTweet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
   <header>
     <div class="header-logo">
        <%= link_to "miniblog",  root_path %>
      </div>
      <div class="gap"></div>
      <% if user_signed_in? %>
        <div class="header-menus">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%= link_to "新規投稿", new_tweet_path %>
       <%= link_to "マイページ","/users/#{current_user.id}" %>
        </div>
        <% else %>
        <div class="header-menus">
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post'%>
           
        </div>
      <% end %>
  </header>
    <%= yield %>
  </body>
</html>
