<!DOCTYPE html>
<html>
  <head>
    <title>MiniTweet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
   <header>
     <div class="header-logo">
        <%= link_to "miniblog",  root_path %>
      </div>

        <div class="headder-menu">
      <% if user_signed_in? %>
      
        <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'headder-menu' %></p>
        <p><%= link_to "新規投稿", new_tweet_path, class: 'headder-menu' %></p>
       <p><%= link_to "マイページ","/users/#{current_user.id}", class: 'headder-menu' %></p>
       
        <% else %>
            <%= link_to "ログイン", new_user_session_path, class: 'headder-menu' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'headder-menu'%>
            </div>
      <% end %>
        
  </header>
    <%= yield %>
  </body>
</html>
